@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

.hero {
  height: 400px;
  /* background-image: url('./public/images/lita.jpg'); */
  background-image: url('../../images/lita.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.3;
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(249 115 22);
  /* -orange-500 */
  font-family: Arial, Helvetica, sans-serif;
}

.small-caps {
  font-variant: small-caps;
}


/* Hamburger Menu Icon */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  @apply bg-slate-400;
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
